[Desktop Entry]
Name=Ciboulette
Description=Red Social 100% Libre
Icon=/usr/share/pixmaps/ciboulette.png
Type=Application
Exec=ciboulette -s
Categories=GTK;Network;
