<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="$BLOG_MIMETYPE; charset=$BLOG_CHARSET">
    <meta name="description" content="$BLOG_DESCRIPTION">
    <meta name="author" content="$BLOG_AUTHOR">
    <link rel="shortcut icon" href="${BASE_URL}$BLOG_ICON">
    <title>${BLOG_TITLE}</title>

    <!-- Bootstrap core CSS -->
    <link href="${BASE_URL}dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="${BASE_URL}$BLOG_CSS" rel="stylesheet">
    
${NB_AtomAltLink}
${NB_RSS2AltLink}
${NB_RSSAltLink}

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
   <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">${template_main}</a></li>
          <li><a href="/archives/">Archivo</a></li>
          <li><a href="/articles/perfil">Perfil</a></li>
        </ul>
        <h3 class="text-muted">Ciboulette</h3>
      </div>
      <div class="jumbotron">
        <h1><a href="${BASE_URL}$NB_INDEX" accesskey="1">${BLOG_TITLE}</a></h1>
        <p class="lead">${BLOG_DESCRIPTION}</p>
      </div>
      <div class="row marketing">